apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: processor
  template:
    metadata:
      labels:
        app: processor
    spec:
      containers:
        - name: processor
          image: {{ processor_image_repository }}:{{ processor_image_tag }}
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_QUEUE
              value: game-events
            - name: SCOREBOARD_KEY
              value: dungeon:scoreboard
